body { margin : 0 ; padding : 0 ; font-size : 100% ; line-height: 1.5;
        font-family: Helvetica, Arial, sans-serif; }
h1 , h2 , h3 , h4 { margin : 1em 0 . 5em ; line-height : 1.25 }
h1 { font-size : 20px }
h2 { font-size : 16px }
h3 { font-size : 50px }
ul , ol { margin : 1em 0 ; padding-left : 100px }
p , figure { margin : 1em 0 }
.experiment { color: purple; font-size:14px; background-color: yellow; }
#greeting {color : orange}
.strongblue strong { color: blue; }
.testing { color : yellow; background-color : purple; }
#hider {background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 15%;}
#hider:hover {background-color: #4CAF50; /* Green */
  color: white;}